.input {
  padding-left: 5%;
}

img {
  max-width: 20%;
  display: block;
  margin: auto;
}

.under {
  text-align: center;
  font-size: 200%;
  padding-top: 10%;
}

.right {
  text-align: center;
  margin-top: 8%;
}
