<div class="bgimg">
        <h1 style="text-align: center; font-size: 7vw; padding-top: 5vw;">Nápojový balíček</h1>
        <p class="text">Welcome drink - Prosecco DOC  Corte Delle Calli, Treviso, Italy</p>
        <p style="text-align: center; font-size: 6vw; font-weight: 500;" class="text">White wine</p>
        <p class="text">Pinot Grigio - Trevigiana, Roberto Zanatta Veneto, Italy</p>
        <p class="text">Riesling vlašský, Mikrosvín, Mikulov 2018</p>
        <p class="text">Riesling – Feinherb, Zach.Bergweiter, Mosel, Germany</p>
    </div>