h1 {
  text-align: center;
  font-size: 3vw;
}
h4 {
  font-size: 2vw;
  padding: 1em;
  margin-bottom: 0px;
}
.tabulka {
  border-width: 9px !important;
  width: 60%;
  margin-bottom: 5%;
}

.base {
  align-items: baseline;
  justify-content: space-evenly;
}
[class*="col-"] {
  margin: auto;
}

p {
  text-align: center;
  margin-bottom: 0px;
}
img {
  max-width: 50%;
  display: block;
  margin: auto;
}
