<div class="tabulka container-fluid">
  <div style="text-align: center;">
    <h1>Ceník</h1>
  </div>
  <div class="row">
    <div class="col-2 leftBorder my-auto"> 
      <img src="assets/img/borderR.png">
     </div>
    <div class="left col-2 my-auto">
      <p>Servis</p>
      <p>Doprava</p>
      <p>Something</p>
    </div>
    <div class="over col-4 my-auto">
      <p>
        ............................................................................................................................
      </p>
      <p>
        ............................................................................................................................
      </p>
      <p>
        ............................................................................................................................
      </p>
    </div>
    <div class="right col-2 my-auto">
      <p>15000 Kč</p>
      <p>12500 Kč</p>
      <p>2500 Kč</p>
    </div>
    <div class="col-2 rightBorder my-auto">
      <img src="assets/img/borderL.png">
    </div>
  </div>
</div>