<h1>Ceník</h1>
<div class="tabulka border rounded container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="d-flex base">
        <h4>Servis</h4>
        <p>...............................</p>
        <h4>15000 Kč</h4>
      </div>
      <div class="d-flex base">
        <h4>Doprava</h4>
        <p>...............................</p>
        <h4>10000 Kč</h4>
      </div>
      <div class="d-flex base">
        <h4>Something</h4>
        <p>................................</p>
        <h4>2500 Kč</h4>
      </div>
    </div>
    
    <div class="col-md-3">
      <a href="./../../assets/pdf/nabidka.pdf">
        <img class="img-fluid" src="./../../assets/img/pdf.png">
      </a>
    </div>
  </div>
</div>
