<div class="tabulka container-fluid">
  <div class="row">
    <div class="col-8" style="text-align: center;">
        <h1>Ceník</h1>
    </div>
    <div class="col-4">

    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="left">
        <p>Servis
          <p>Doprava
            <p>Something
      </div>
    </div>
    <div class="col-md-4">
      <div class="over">
        
        <p>
          ............................................................................................................................
        </p>
        <p>
          ............................................................................................................................
          <p>
            ............................................................................................................................
      </div>
    </div>
    <div class="col-md-2">
      <div class="left">
        <p>15000 Kč
          <p>12500 Kč
            <p>2500 Kč
      </div>
    </div>

    <div class="col-md-4">
      <a href="assets/pdf/nabidka.pdf"><img class="img-fluid" src="assets/img/pdf.png"></a>
      <p class="komplet">Kompletní Nabídka</p>
    </div>

  </div>
</div>
