<nav class="nav navbar-expand-md navbar-light bg-transparent fixed-top">
    <a class="navbar-brand pull-right" href="#">     
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pad" id="navbarResponsive">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#domu">Domu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#fotky">Fotky</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#koncept">Koncept</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#cenik">Ceník</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#kontakt">Kontakt</a>
        </li>
      </ul>
    </div>

</nav>
