<nav class="nav navbar-expand-md navbar-light white-bg sticky-top">
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>
  <div class=" collapse navbar-collapse" id="navbarResponsive">
    <ul class="nav navbar-nav ml-auto" style="font-size: 2vw;">
      <li class="nav-item active">
        <a class="nav-link" href="#domu">Domu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#fotky">Fotky</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#koncept">Koncept</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#cenik">Ceník</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#kontakt">Kontakt</a>
      </li>
    </ul>
  </div>

</nav>
