<div class="black">
  <h1 class="header" style="padding-top: 5%;font-size: 5vw">Kontakt</h1>
  <footer>
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-6">
          <p class="main">Telefon</p>
          <p class="main">Email</p>
          <p class="main">Adresa Sídla</p>
        </div>
        <div class="col-6">
          <p class="info">+420 602 787 222</p>
          <p class="info">easycatering@pastar.cz</p>
          <p class="info">Restaurace Pastař, Malostranské nábřeží 1, Malá Strana, 118 00 Praha 1</p>
        </div>
      </div>
      <p class="small">Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
      </p>
    </div>
  </footer>
</div>
