.allign {
  align-self: center;
  margin-bottom: 0px;
}

.header {
  text-align: center;
  padding-top: 5%;
}

.small {
  margin-top: 5%;
  margin-bottom: 0px;
  font-size: 70%;
  color: white;
}

.black {
  background-color: gray;
}
