<div class="black">
  <h1 class="header">Kontakt</h1>
  <footer>
    <div class="container-fluid padding">
      <div class="row text-center align">
        <div class="col-md-6">
          <img src="./../../assets/img/logo.png" width="60px" height="60px">
        </div>
        <div class="col-md-6">
          <p>Informace</p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-6">
          <p>Telefon</p>
          <p>Email</p>
          <p>Adresa Sídla</p>
        </div>
        <div class="col-6">
          <p>+420 368 245 265</p>
          <p>testerino@google.com</p>
          <p>Náměstí Míru 215, Praha 6, 16101</p>
        </div>
      </div>
      <p class="small">Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
        Různé legální věci okolo copyrightu a dalších věciček.
      </p>
    </div>
  </footer>
</div>
