<h1 class="text-center">Koncept</h1>
<div class="row">
  <div class="col-md-3">
    <img class="img-fluid half center" src="./../../assets/img/phone.png" alt="">
    <h3>Zavoláte</h3>
    <p>Test Text Test Text Test Text Test Text Test Text Test Text
      Test Text Test Text Test Text Test Text Test Text Test Text
      Test Text Test Text Test Text Test Text Test Text Test Text
      Test Text Test Text Test Text Test Text Test Text Test Text
    </p>
  </div>
  <div class="col-md-3">
    <img class="img-fluid half center" src="./../../assets/img/offer.png" alt="">
    <h3>Nabídneme</h3>
    <p>Test Text Test Text Test Text Test Text Test Text Test Text
      Test Text Test Text Test Text Test Text Test Text Test Text
      Test Text Test Text Test Text Test Text Test Text Test Text
      Test Text Test Text Test Text Test Text Test Text Test Text
    </p>
  </div>
  <div class="col-md-3">
    <img class="img-fluid half center" src="./../../assets/img/deal.png" alt="">
    <h3>Domluvíme</h3>
    <p>Test Text Test Text Test Text Test Text Test Text Test Text
      Test Text Test Text Test Text Test Text Test Text Test Text
      Test Text Test Text Test Text Test Text Test Text Test Text
      Test Text Test Text Test Text Test Text Test Text Test Text
    </p>
  </div>
  <div class="col-md-3">
    <img class="img-fluid half center" src="./../../assets/img/delivery.png" alt="">
    <h3>Doručíme</h3>
    <p>Test Text Test Text Test Text Test Text Test Text Test Text
      Test Text Test Text Test Text Test Text Test Text Test Text
      Test Text Test Text Test Text Test Text Test Text Test Text
      Test Text Test Text Test Text Test Text Test Text Test Text
    </p>
  </div>
</div>
