h3 {
  text-align: center;
  padding-top: 2rem;
}
p {
  text-align: center;
}
.col-4 img {
  max-width: 200px;
  max-height: 200px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.col-12 img {
  max-width: 200px;
  max-height: 200px;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.col-12  p {
  padding-right: 20vw;
  padding-left: 20vw;
}
.col {
  padding-top: 2%;
}

.row {
  margin: 0px;
}

.arrow {
  display: inline-block;
  height: 50%;
  vertical-align: middle;
}

.helper {
  text-align: center;
}
.text {
  font-size: 1.5vw;
}
.textMobile {
  font-size: 3vw;
}
h3 {
  font-size: 3vw;
  padding-bottom: 5%;
}
