<h1 class="text-center" style="padding-top: 5%;font-size: 5vw;">Koncept</h1>
<div class="row">
  <div class="col">
    <img class="img-fluid half" src="assets/img/email.png" alt="">
  </div>
  <div class="col">
    <img class="img-fluid half" src="assets/img/offer.png" alt="">
  </div>
  <div class="col">
    <img class="img-fluid half" src="assets/img/delivery.png" alt="">
  </div>
</div>
<div class="row" style="padding-bottom: 5%;">
  <div class="col-4">
    <h3>Kontaktujte nás</h3>
    <p class="text">Máte jasnou představu nebo chcete poradit? Napište nám email nebo zavolejte, rádi Vám pomůžeme zrealizovat vaši
      vysněnou akci.
    </p>
  </div>
  <div class="col-4">
    <h3>Nabídneme</h3>
    <p class="text">Nabídneme Vám čerstvou italskou a středomořskou kuchyni v podobě finger food, antipasti nebo hlavních chodů. Pro
      rychlejší a easy výběr máme předem připravené balíčky, které rádi dle vašeho přání poupravíme.
    </p>
  </div>
  <div class="col-4">
    <h3>Doručíme</h3>
    <p class="text">Catering Vám společně s potřebných inventářem dovezeme na Vámi určené místo.
    </p>
  </div>
</div>