<div class="bgimg">
        <h1 style="text-align: center; font-size: 7vw; padding-top: 5vw;">Nápojový balíček</h1>
        <p class="text">Welcome drink - Prosecco DOC  Corte Delle Calli, Treviso, Italy</p>
        <p style="text-align: center; font-size: 6vw; font-weight: 500;" class="text">Red wine</p>
        <p class="text">Merlot - La Voliera, IGP, Puglia, Italy</p>
        <p class="text">Chianti Classico - Fattoria Dianella, Tuscana, Italy</p>
        <p class="text">Pinot Noire - Les teras, Pays d´Oc  France</p>
    </div>