<div class="row">
    <div class="col-6">
        <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_2.jpg">
    </div>
    <div class="col-6">
        <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_17.jpg">
    </div>
</div>
<h1>Private party</h1>
<p>Italské antipasti – variace sýrů, uzenin, oliv</p>
<p>Čerstvá pasta s mořskými plody</p>
<p>Telecí řízečky</p>
<p>Grissini s parmskou šunkou</p>
<p>Kanapky (masové/bezmasé)</p>
<p>Kvalitní vína dle naší nabídky</p>
<p style="font-size: 1.5vw; font-weight: 500;">7500</p>
