<div class="carousel slide" data-ride="carousel">
  <div class="row">
    <div class="col-md-4 container">
      <a href="#fotkyAkce">
        <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_6.jpg" alt="">
        <div class="centered">Fotky z akce</div>
      </a>
    </div>
    <div class="col-md-4 container">
      <a href="#fotkyJidlo">
        <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_8.jpg" alt="">
        <div class="centered">Fotky jidla</div>
      </a>
    </div>
    <div class="col-md-4 container">
      <a href="#fotkyAkce">
        <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_7.jpg" alt="">
        <div class="centered">Fotky z akce</div>
      </a>
    </div>
  </div>
</div>
