<app-logo id="domu"></app-logo>
<app-jumbotron [isMobile]="isMobile"></app-jumbotron>
<app-navbar></app-navbar>
<div *ngIf="isMobile">
  <app-image-slider-mobile id="fotky"></app-image-slider-mobile>
  <app-image-slider2-mobile></app-image-slider2-mobile>
</div>
<div *ngIf="!isMobile">
  <app-image-slider id="fotky"></app-image-slider>
  <app-image-slider2></app-image-slider2>
</div>
<app-welcome-section  [isMobile]="isMobile"></app-welcome-section>
<div *ngIf="isMobile">
  <app-mala-nabidka-mobile></app-mala-nabidka-mobile>
</div>
<div *ngIf="!isMobile">
  <app-mala-nabidka></app-mala-nabidka>
</div>
<app-koncept id="koncept" [isMobile]="isMobile"></app-koncept>
<app-objednavka  [isMobile]="isMobile"></app-objednavka>
<app-kontakt  [isMobile]="isMobile" id="kontakt" class="footer"></app-kontakt>
