<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="head">
        Jsme Easy catering od Pastaře
      </h1>
    </div>
    <hr>
    <div class="col-12">
      <p [ngClass]="isMobile ? 'textMobile' : 'text'">
        Zakládáme si na jednoduchosti, autentičnosti, čerstvosti a kvalitě.
        Nabízíme široký sortiment čerstvých surovin za velmi přijatelné ceny. Finger food, salátky, antipasti nebo radši
        teplé hlavní chody? Rádi Vám sestavíme catering na míru.


      </p>
      <p [ngClass]="isMobile ? 'textMobile' : 'text'">
        Kromě jídla a nápojů dovezeme na Vámi určené místo veškerý potřebný inventář.
      </p>
    </div>
  </div>
</div>
