.nabidka {
  max-width: 20%;
  display: block;
  margin: auto;
}

.komplet {
  padding-top: 1vw;
  font-size: 4vw;
  text-align: center;
}

.test {
  width: 100%;
  font-size: 2vw;
  border-style: solid;
  border-color: brown;
  border-width: 1px;
  border-radius: 0;
  letter-spacing: .5vw;
  font-weight: bold;;
}
