<h1 class="text-center">Fotky - z akce</h1>
<div id="slides2" class="carousel slide image-slider" data-interval="false" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_39.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_40.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_41.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_24.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_25.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_26.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_27.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_28.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_29.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_30.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_31.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_32.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_33.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_34.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_35.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_36.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_37.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_38.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_42.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_43.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_44.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_45.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_46.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_47.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_48.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_49.jpg" alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid" src="assets/img/fotkyNaWebovky/jidlo_50.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#slides2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#slides2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  