img {
  width: 80%;
  height: 80%;
  max-height: 500px;
  padding-top: 3vw;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.half {
  margin: 0%;
  //background-color: #ffffff;
  height: 55%;
}
