<div class="container-fluid">
  <div>
    <div class="text">
      <p class="lead">
        Jmenujeme se easy catering, protože chceme, aby spolupráce s námi byla opravdu easy. Zakládáme si na
        jednoduchosti, autentičnosti, čerstvosti a kvalitě. Jídlo pro nás připravuje malostranská restaurace Pastař,
        která se zaměřuje na čerstvou italskou a středozemní kuchyni. Chcete kouzlo Itálie přenést i na Vaši oslavu,
        firemní poradu, obchodní jednání či posezení s přáteli? Lehké občerstvení v podobě kanapek, sendvičů, italských
        antipasti či dezertů dodá Vaší akci na eleganci.
      </p>
      <p class="lead">
        Nabízíme široký sortiment čerstvých surovin za velmi přijatelné ceny. Finger food, salátky, antipasti nebo
        radši
        teplé hlavní chody? Rádi Vám sestavíme catering na míru.

      </p>
      <p class="lead">
        Kromě jídla a nápojů dovezeme na Vámi určené místo veškerý potřebný inventář.
      </p>
    </div>
  </div>
</div>
