.text {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  line-height: 50px;
  font-weight: 500;
  font-size: 2vw;
}

.half {
  margin: 0%;
  background: url(./../../assets/img/akce1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.75);
}

p {
  margin-block-end: 0%;
}
