.text {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  line-height: 50px;
  font-weight: 500;
}

.half {
  margin: 0%;
  background-image: url(./../../assets/img/akce1.jpg);
  background-position: center;
  background-attachment:fixed;
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.75  );
}

p {
  margin-block-end: 0%;
}
