<div class="container-fluid half">
    <p class="text lead text">
      Jmenujeme se easy catering, protože chceme, aby spolupráce s námi byla opravdu easy. Zakládáme si na
      jednoduchosti, autentičnosti, čerstvosti a kvalitě. Jídlo pro nás připravuje malostranská restaurace Pastař,
      která se zaměřuje na čerstvou italskou a středozemní kuchyni. Chcete kouzlo Itálie přenést i na Vaši oslavu,
      firemní poradu, obchodní jednání či posezení s přáteli? Lehké občerstvení v podobě kanapek, sendvičů, italských
      antipasti či dezertů dodá Vaší akci na eleganci.
    </p>
</div>
