/* You can add global styles to this file, and also import other style files */
// @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html, body {
  background-color: rgb(255, 253, 247);
  scroll-behavior: smooth;
  max-width: 100%;
}

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5 ease;
  transition: transform 0.5 ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

figure {
  clip: rect(0, auto, auto, 0);
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#fixed {
  background-image: url("assets/img/back.jpeg");
  position: fixed;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
